<div *ngIf="(chartConfig$ | async) as chartConfig" class="container pt-3">
  <h3 class="text-center"> 12 Hours forecast for {{ currentCity }} </h3>
  <hr>
  <app-charts-wrapper [chartColor]="chartConfig?.chartColor"
                      [chartDataSet]="chartConfig?.chartData"
                      [chartLabels]="chartConfig?.labels"
                      [chartTitle]="chartConfig?.chartTitle"
                      [chartType]="chartConfig?.chartType"
                      [fill]="chartConfig?.fill"
                      [lineRounded]="chartConfig?.lineRounded"
                      [responsive]="chartConfig?.responsive"
                      [showChartLegend]="chartConfig?.showLegend"
  ></app-charts-wrapper>
</div>
