<div class="card text-white border-light bg-info">
  <div class="card-body">
    <h3 class="card-title"> Avg.
      {{ cityWeatherDetails?.averageTemperature }}&deg;C
    </h3>
    <p class="card-text">
      <img [alt]="cityWeatherDetails?.weather" [src]="cityWeatherDetails.icon | safeUrl"
           [title]="cityWeatherDetails?.weather"
           class="img-fluid">
    </p>
    <p class="card-title">
      Wind: {{ cityWeatherDetails?.windSpeed }} m/s
    </p>
    <h6 class="card-title">
      <i aria-hidden="true" class="fa fa-calendar-check-o"></i>
      {{ cityWeatherDetails?.dt * 1000 | date: 'dd MMM yyyy HH:mm' }}
    </h6>
    <h6 class="card-title">
      <i aria-hidden="true" class="fa fa-map-marker"></i>
      {{ cityWeatherDetails?.name }}, {{ cityWeatherDetails?.country }}
    </h6>
    <button (click)="hourlyForecast.emit(cityWeatherDetails)"
            class="btn btn-outline-light forecast-button float-right">
      Hourly forecast
    </button>
  </div>
</div>
