<div class="container pt-3">
  <h1>Cities weather</h1>
  <hr>
  <div class="row">
    <div *ngFor="let cityWeatherDetails of citiesWeatherDetails$ | async" class="mb-3 col-md-4 col-sm-6 col-12">
      <app-city-details (hourlyForecast)="hourlyForecastEventHandler($event)"
                        [cityWeatherDetails]="cityWeatherDetails"></app-city-details>
    </div>
  </div>

</div>
